.nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background: rgb(0,0,0,0.8);
}
.nav {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-logo {
    height: 70px;
}

.nav-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}
.nav-menu-item {
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.nav-menu-item:hover {
    border-bottom: 1px solid var(--accent);
}